<section class="links">
    <div class="links-inner">
      <ul>
        <li><h3>What's New</h3></li>
        <li><a href="#">Gym Membership</a></li>
        <li><a href="#">Cricket Membership</a></li>
        <li><a href="#">Hockey Membership</a></li>
        <li><a href="#">Football Membership</a></li>
        <li><a href="#">Tennis Membership</a></li>
      </ul>
      <ul>
        <li><h3>Fit and Shine Store</h3></li>
        <li><a href="#">Account Profile</a></li>
        <li><a href="#">Download Center</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Older tracking</a></li>
      </ul>
      <ul>
        <li><h3>Enterprise</h3></li>
        <li><a href="#">Azure</a></li>
        <li><a href="#">AppSource</a></li>
        <li><a href="#">Automotive</a></li>
        <li><a href="#">Government</a></li>
        <li><a href="#">Healthcare</a></li>
      </ul>
      <ul>
        <li><h3>Developer</h3></li>
        <li><a href="#">UI/UX</a></li>
        <li><a href="#">Angular</a></li>
        <li><a href="#">Clouds</a></li>
        <li><a href="#"></a>DevOps</li>
        <li><a href="#">Testing</a></li>
      </ul>
      <ul>
        <li><h3>Company</h3></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">About Fit and Shine</a></li>
        <li><a href="#">Company news</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Inverstors</a></li>
      </ul>
    </div>
  </section>