

<div class="menu-btn">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>

<div class="container">
  <!-- Nav -->

  <app-header-layout-2 [headerButtons]="headerButtons$ | async" [isAuthenticated]="isAuthenticated">
  </app-header-layout-2>

  <!-- Showcase -->
  <app-showcase [showcase]="details$ | async"></app-showcase>
  <!-- Home cards 1 -->
  <app-services [service]="service$| async" page="main"></app-services>

  <!-- Xbox -->

  <app-details [details]="details$ | async"></app-details>
  <!-- Home cards 2 -->
  <app-images [images]="images$ | async"></app-images>


  <!-- Carbon -->
  <app-main [main]="main$ | async"></app-main>
  <!-- Follow -->
  <app-follow-link></app-follow-link>
</div>
<!-- Links -->

<app-link></app-link>

<!-- Footer -->
<app-footer></app-footer>