<div class="wrapper">
    <app-header-layout-2 [headerButtons]="headerButtons$ | async" [isAuthenticated]="isAuthenticated"></app-header-layout-2>
    <!-- Top Container -->
    <!-- <section class="top-container"> -->
    <!-- <app-services></app-services> -->
    <!-- <header class="showcase">
            <h1>Your Web Presence</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, ipsam! Nihil quo minima nulla atque!</p>
            <a href="#" class="btn">Read More</a>
        </header> -->
    <app-details [details]="details$ | async"></app-details>
    <!-- </section> -->

    <!-- Boxes Section -->
    <!-- <section class="boxes"> -->
    <!-- <div class="box">
            <i class="fas fa-chart-pie fa-4x"></i>
            <h3>Analytics</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        </div>
        <div class="box">
            <i class="fas fa-globe fa-4x"></i>
            <h3>Marketing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        </div>
        <div class="box">
            <i class="fas fa-cog fa-4x"></i>
            <h3>Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        </div>
        <div class="box">
            <i class="fas fa-users fa-4x"></i>
            <h3>Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
        </div> -->

    <app-services [service]="service$| async"></app-services>
    <!-- </section> -->

    <!-- Info Section -->
    <!-- <section class="info"> -->
    <!-- <img src="https://i.ibb.co/mFHq21Y/header.jpg" alt="">
        <div>
            <h2>Your Business On The Web</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias reiciendis deleniti possimus nemo non repellendus? Quae atque vero modi quidem! Autem cupiditate fugit doloribus ad amet, asperiores provident commodi.</p>
            <a href="#" class="btn">Learn More</a>
        </div> -->
    <app-main [main]="main$ | async"></app-main>
    <!-- </section> -->

    <!-- Portfolio -->
    <!-- <section class="portfolio"> -->
    <app-images [images]="images$ | async"></app-images>
    <!-- <img src="https://i.ibb.co/c12j7xf/sushil.jpg" alt="sushil" border="0" />
        <img src="https://i.ibb.co/7k0cJXs/ab.jpg" alt="ab" border="0" />
        <img src="https://i.ibb.co/J31P1q5/app-image.png" alt="app-image" border="0" />
        <img src="https://i.ibb.co/dbMDwbV/app-image2.png" alt="app-image2" border="0" />
        <img src="https://i.ibb.co/qMWScsW/cta-bg.jpg" alt="cta-bg" border="0" />
        <img src="https://i.ibb.co/gPq6b5v/gym.jpg" alt="gym" border="0" />
        <img src="https://i.ibb.co/2Y5LgrF/gym1.jpg" alt="gym1" border="0" />
        <img src="https://i.ibb.co/mFHq21Y/header.jpg" alt="header" border="0" />
        <img src="https://i.ibb.co/WHhMG3f/i-Phone-app.png" alt="i-Phone-app" border="0" />
        <img src="https://i.ibb.co/M7t8szf/baseball.jpg" alt="baseball" border="0">
        <img src="https://i.ibb.co/PtP2y3C/rogers.jpg" alt="rogers" border="0">
        <img src="https://i.ibb.co/bm9Wg7v/ronaldo.jpg" alt="ronaldo" border="0">
        <img src="https://i.ibb.co/6WNWWt5/Sports-Shop.jpg" alt="Sports-Shop" border="0">
        <img src="https://i.ibb.co/PQqrsVk/Sports-Stores-01.jpg" alt="Sports-Stores-01" border="0"> -->
    <!-- </section> -->

    <!-- Footer -->
    <footer>
        <p>Krishna &copy; 2020</p>
    </footer>

</div>
<!-- Wrapper Ends -->