<!-- <section class="info">
    <img src="https://i.ibb.co/mFHq21Y/header.jpg" alt="">
    <div>
        <h2>{{ main[0]?.text }}</h2>
        <p>{{main[0]?.details }}</p>
        <a href="#" class="btn">Learn More</a>
    </div>
</section> -->

<section class="carbon dark">
    <div class="content">
      <h2 class="showcase-heading">{{ main[0]?.text }}</h2>
      <p  class="showcase-heading">{{main[0]?.details }}</p>
        <a href="#" class="btn">
          Learn More <i class="fas fa-chevron-right"></i>
        </a>
    </div>
  </section> 