<nav class="main-nav">
    <img src="https://i.ibb.co/6wMjxPV/logo4.png" alt="Fit and shine" class="logo">

    <ul class="main-menu">

        <li *ngFor="let data of headerButtons">
            <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;"></div>
            <ng-template #doSomething>
                <ng-container *ngIf="data.access !== 'Login'">
                    <a href="#" (click)="logout(data.text)">span</a>
                </ng-container>
            </ng-template>
            <ng-template #doSomethingElse>
                <ng-container *ngIf="data.access === 'Login'">
                    <a routerLink="/user/login">{{data.text}}</a>
                </ng-container>
            </ng-template>
        </li>
    </ul>
    <ul class="right-menu">
        <li>
            <a>
                <form action="">
                    <div class="toggle-switch">
                        <input type="checkbox" id="toggleTheme" name="toggleTheme" [(ngModel)]="isChecked" (change)="toggleTheme(isChecked?'A':'B')" >
                        <label for="toggleTheme">
                            <span class="toggle-track"></span>
                        </label>
                    </div>
                </form>
            </a>
        </li>
    </ul>
</nav>