// /* You can add global styles to this file, and also import other style files */
// /* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
// :root {
//     /* Colors */
//     --foreground-default: #08090a;
//     --foreground-secondary: #41474d;
//     --foreground-tertiary: #797c80;
//     --foreground-quaternary: #f4faff;
//     --foreground-light: #41474d;
//     --background-default: #a6bed1;
//     --background-secondary: #a3b9cc;
//     --background-tertiary: #5c7d99;
//     --background-light: #ffffff;
//     --primary-default: #5dfdcb;
//     --primary-dark: #24b286;
//     --primary-light: #b2ffe7;
// }
// body {
//     background: var(--background-default);
// }
// body,
// html {
//     height: 100%;
//     margin: 0;
//     font-size: 16px;
//     font-family: "Lato", sans-serif;
//     font-weight: 400;
//     line-height: 1.8em;
//     color: #666;
// }
// .header-font {
//     color: white
// }
// .margin-small {
//     margin: 5px;
// }
// .margin-medium {
//     margin: 15px;
// }
// .cursor-pointer {
//     cursor: pointer;
// }
// .font-green {
//     color: green;
// }
// .font-red {
//     color: red
// }

/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}


/* Navigation */

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}


/* Top Container */

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
}


/* Showcase */

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(https://i.ibb.co/mFHq21Y/header.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: grid-start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}


/* Top Box */

.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}


/* Boxes */

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}


/* Info */

.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}


/* Portfolio */

.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}


/* Footer */

footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}


/* Media Queries */

@media (max-width: 700px) {
    .top-container {
        grid-template-areas: 'showcase showcase' 'top-box-a top-box-b';
    }
    .showcase h1 {
        font-size: 2.5rem;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .top-container {
        grid-template-areas: 'showcase' 'top-box-a' 'top-box-b';
    }
}